<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace는 어떤 Mapper.xml 파일인지에 따라 명칭을 지정한다. -->
<mapper namespace="Comment">
    <insert id="write" parameterType="comment">
        insert into comment_table(commentWriter, commentContents, boardId)
        values(#{commentWriter}, #{commentContents}, #{boardId})
    </insert>

    <select id="findAll" parameterType="Long" resultType="comment">
        select id, commentWriter, commentContents, commentCreatedTime
        from comment_table
        where boardId = #{boardId}
        order by id desc
    </select>
</mapper>