<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/
                                        apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <!-- ConsoleAppender 클래스를 설정하여 로그 정보를 콘솔에 출력한다. -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <!-- System.out을 사용하여 콘솔에 출력한다. -->
        <param name="Target" value="System.out" />
        <!-- PatternLayout 클래스로 로그 정보의 출력 형태를 설정한다. -->
        <layout class="org.apache.log4j.PatternLayout">
            <!-- ConversionPattern으로 패턴을 설정하여 지정한 출력 형식이 되도록 지정한다. -->
            <!-- [형식] priority 출력 : package 출력 - 로그 내용 출력 개행문자(\n) 출력 -->
<!--            <param name="ConversionPattern" value="%-5p: %c - %m%n" />-->
            <!-- 출력 형식을 아래와 같이 변경한다. -->
            <param name="Conversionpattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <!-- Application Loggers -->
    <!-- name 속성 : 실제 로그 기능을 수행하는 객체를 설정한다. -->
    <logger name="com.springmvc">
        <!-- 설정한 객체의 로깅 레벨을 info로 설정한다. -->
        <level value="info" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="info" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>

    <logger name="org.springframework.context">
        <level value="info" />
    </logger>

    <logger name="org.springframework.web">
        <level value="info" />
    </logger>

    <!-- Root Logger -->
    <!-- <root> 요소로 최상위 로거를 설정한다. -->
    <root>
        <!-- 로깅 레벨 info 이상을 출력한다. -->
        <priority value="warn" />
        <!-- <appender> 요소에 설정된 name 속성 값인 console을 참조한다. -->
        <!-- <appender> 요소는 <logger> 요소보다 앞에 선언되어 있어야 한다. -->
        <appender-ref ref="console" />
    </root>

</log4j:configuration>